body {
    background: lightgray;
    /* color: white; */
    background-size: 100vw 100vh;
}



.gray {
    background-color: lightgray;
}

@media (max-width: 767px){

.ElContacto{

        display: none;
}
.smile-face{
    width: 50px;
    height: 50px;
}

.rounded{
    max-width: 50%;
}

}

@media (max-width:279px){

    .smile-face{
        display: none;
    }
}



@media (max-width: 360px) {
    .flower {
        font-size: 1rem;
    }
    .flower1 {
        font-size: 0.75rem;
    }
}

.flower1{
    text-indent: 20px;
}



h3 {
    width: 100%;
}

.bg-warning {
    background-color: gray !important;
}


